
<div class="container">
	<div class= "p-5">
		<div class="p-5 card bg-info">
			<div class=row p>
				<div class="col">
			 	 <img class="card-img" src="/images/background.jpg" alt="Card image">
			 	</div>
			 	<div class="col">
			 	 <img class="card-img" src="/images/background.jpg" alt="Card image">
			 	</div>
			 	<div class="col">
			 	 <img class="card-img" src="/images/background.jpg"  alt="Card image">
			 	</div>
			</div>
		</div>
	</div>

	 <form action="/search" method="GET"class="form-inline p-2">
		<input class="form-control mr-sm-2" name="search" type="search" placeholder="Looking for" aria-label="Search">
		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	</form>
	   
	<div class="container">
		<div class="card-columns">
			<% @Item.each do |i| %>
				<div class="card">
					<div class= text-center>
				    	<img class="card-img-top" src=<%= i.imgData%> style=" width:100px; height:100px"alt="Card image cap">
					</div>
				    <div class="card-body text-center">
				      <h5 class="card-title"><%=i.item %> </h5>
				      <p class="card-text"> <em>$<%=i.price %></em></p>
				       <p class="card-text"> <em>$<%=i.seller %></em></p>
				      <a href=<%="ad/"+ (i.id).to_s %> name="id" class=" btn btn-primary">Contact Seller</a>
				    </div>
				</div>
			<% end %>
		</div>
</div>
	</div>
</div>